[Pp]ackages/
[Tt]ools/*
![Tt]ools/packages.config
[Oo]utput/
[Rr]elease/
nuget.exe
[Ll]ocal[Dd]eploy/

release-notes.md
input/docs/issue-providers/gitrepository/
input/docs/pull-request-systems/appveyor/
input/docs/recipe/
input/docs/report-formats/generic/
input/docs/overview/release-notes/
BuildArtifacts